*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.header{
    height: 695px;
    width: 100%;
    background-color: #Ffffff;
  
}
.header__navigation__container{
    background-color: #FFFFFF;
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 80px;
     box-shadow: 0 3px 0 #F1F1F1 ;

}
.navigation__logo{
    position: relative;
    top: 20px;
}
.nav__list{
    display: flex;
    list-style: none;
}
.nav__item:not(:last-child){
    margin-right: 40px;
}
.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 12x;
    font-weight: 600;
    font-style: italic;
    padding: 0 5px;
}
.nav__link:hover{
    background: linear-gradient(to left, #E73587, #8C32F0);
    padding: 5px 0;
    border-radius: 15px;
    transition: 1s ease-in;
    opacity: .7;
    padding: 0 5px;
}
.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    margin-bottom: 50px;
}
.header__content__title{
    display: flex;
    flex-direction: column;
}
.header__content__title h1{
    font-size: 97px;
    color: #020E35;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 118px;
}
.header__content__img{
    display: block;
}
.button{
    height: 40px;
    width: 140px;
    text-transform: uppercase;
    font-size: 12x;
    color: white;
    font-weight: 400;
    background: linear-gradient(to left, #8C32F0,#E73587);
    border: none;
    cursor: pointer;
    
}
.button:hover{
    border-radius: 15px;
    background: linear-gradient(to left, #E73587,#8C32F0);
    transition: .2s linear;
}
.about_us__container{
    width: 83%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_us_description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.line__title{
    height: 2px;
    width: 100px;
    border-bottom: 2px solid #E73587;
    margin-bottom: 25px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}

.about_us__title p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.about_us__img_oval{
   position: absolute;
   left: 0;
}
.about_us__title{
    margin-left: 300px ;
}

.services__container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
 }
.services__wrapper{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
}
.services__item h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.services__item p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0 10px;
}
.services__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    width: 375px;
    height: 560px;
}   
.item_1{
    background-color:#FDF8E3;
   
}
.item_2{
    background-color: #F0F3FA;
    
}
.item_3{ 
    background-color:#FEEFF0;
    
}
.services__item__btn{
    text-transform: uppercase;
    color: white;
    margin: 50px 0 30px 0;
}

.services_box_btn-oval{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(to left, #8C32F0,#E73587);
    border: 2px solid white;
    position: relative;
    top: 55px;
}
.services_box_btn-oval:hover{
    border-radius: 0;
    background: linear-gradient(to left, #E73587, #8C32F0);
    transition: .5s linear;
}
.fa{
    color: white;
    font-size: 40px;
}
.catalog__container{
    background-color:#020E35;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px 5px;
    grid-template-rows:minmax(120px, auto) minmax(120px, auto) minmax(120px, auto) minmax(120px, auto) minmax(120px, auto) 100px;
}
.catalog__title h2{
      color: white;
      margin-top: 250px;
}
.catalog__title{
    text-align: center;
    grid-column: 1/3;
}
.catalog__content_img{
    display: block;
    justify-self: end;
}
.catalog__content_img_2{
    justify-self: start;
}
.catalog__content__description{ 
    color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: start;
    margin-left: 15px;
}
.content__title{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.content__subtitle{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    padding-bottom: 50px;
}
.catalog__content__description p{
    font-size: 16px;
    font-weight: 400;
}
.description_content_left{ 
    align-items: flex-end;
    justify-self: end;
    margin-right: 15px;
}
.catalog__btn{
    grid-column: 1/3;
    justify-self: center;
    align-self: start;
}
.footer__container{
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(200px auto) minmax(200px auto) minmax(200px auto) minmax(200px auto) minmax(200px auto) ;
    grid-column-gap: 40px;
}
.footer_header{
    grid-row: 1/5;
    align-self: end;
    justify-self: end;
    padding: 50px 0;
}
.footer_header h2{
    color: #020E35;
    font-size: 30px;
    font-weight: 600;
}
.footer_header h3{
    color: #020E35;
    font-size: 90px;
    font-weight: 600;
}
.colortext{
    color:#E73587;
}


.footer__form__name input, .footer__form__question input, .footer__form__message textarea{
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: 400;
}
.footer__form__message textarea{
    height: 100px;
}
.form{
    font-size: 16px;
    color: #020E35;
    line-height: 22px;
    font-weight: bold;
    align-self: center;
    justify-self: start; 
}
.footer__form__name{
    padding-top: 50px;
}
.footer__btn button{
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left, #8C32F0,#E73587);
  width: 50%;
  height: 40px;
    font-size: 12x;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.footer__footer{
    background-color: #020E35;
    font-size: 12px;
    font-weight: 300;
    color: white;
    grid-column: 1/3;
    padding: 5px 0 5px 50px;
}